:root {
  background-color: #000000;
}

.text-shadow {
  text-shadow: 3px 3px 3px #000000;
}

.game-container {
  button {
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    user-select: none;
    touch-action: manipulation;
    cursor: pointer;
  }

  .attack {
    animation: attack-animation 0.5s;

    @keyframes attack-animation {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(30px);
        content: var(--player-creature-img-attack);
      }
      100% {
        transform: translateX(0);
      }
    }
  }

  .hurt {
    animation: hurt-animation 0.5s;

    @keyframes hurt-animation {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
        content: var(--player-creature-img-hurt);
      }
      100% {
        opacity: 1;
      }
    }
  }

  .enemy-attack {
    animation: enemy-attack-animation 0.5s;

    @keyframes enemy-attack-animation {
      0% {
        transform: translateX(0) scaleX(-1);
      }
      50% {
        transform: translateX(-30px) scaleX(-1);
        content: var(--enemy-creature-img-attack);
      }
      100% {
        transform: translateX(0) scaleX(-1);
      }
    }
  }

  .enemy-hurt {
    animation: enemy-hurt-animation 0.5s;

    @keyframes enemy-hurt-animation {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
        content: var(--enemy-creature-img-hurt);
      }
      100% {
        opacity: 1;
      }
    }
  }

  .button-row {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
    }
  }

  .player {
    border-radius: 50%;
    box-shadow: inset -3px -3px 10px #00000033, inset 3px 3px 10px #a8aaff;
    animation: glow 3s infinite;

    @keyframes glow {
      50% {
        box-shadow: inset -3px -3px 10px #00000033, inset 3px 3px 10px #a8aaff,
          0 0 10px #def9f4;
      }
    }
  }

  .exit {
    height: 40px;
    border-style: solid;
    border-color: #29ffd8;
    border-radius: 50%;
    background: #000000;
    filter: blur(10px);
    animation: portal 2s infinite;

    @keyframes portal {
      0% {
        transform: scale(0.9);
      }
      100% {
        transform: scale(0.9);
      }
    }
  }

  .grid-bg-1 {
    background: linear-gradient(135deg, #332a2a, #1f1f1f);
    background-size: 10px 10px;
  }

  .grid-bg-2 {
    background: linear-gradient(135deg, #332a2a, #1f1f1f);
    background-size: 10px 10px;
  }

  .grid-bg-3 {
    background: linear-gradient(135deg, #41830e, #2e5a0a);
    background-size: 10px 10px;
  }

  .grid-bg-4 {
    background: linear-gradient(135deg, #0f8b0f, #0a5a0a);
    background-size: 10px 10px;
  }

  .special-effect-1 {
    position: relative;
    top: 50px;
    width: 30px;
    height: 5px;
    transform: rotateX(-20deg) rotateY(20deg) translateX(100px) scaleX(2)
      scaleY(0.89);
    animation: soul-harvest 750ms infinite linear;
    background: linear-gradient(to left, #b700ff 0%, #ff0000 33%, #ff5900 100%);
    box-shadow: 1px 2px 0 #2b221e;

    @keyframes soul-harvest {
      50% {
        transform: rotateX(-20deg) rotateY(20deg) translateX(-20px) scaleX(1);
      }
      75% {
        opacity: 0;
      }
      100% {
        transform: rotateX(-20deg) rotateY(20deg) translateX(-20px) scaleX(1);
      }
    }
  }

  .special-effect-2 {
    position: relative;
    top: 50px;
    left: 150px;
    transform: rotateY(20deg) translateX(-200px) scaleX(2) scaleY(0.89);
    animation: poison-inject 400ms infinite linear;
    width: 30px;
    height: 5px;
    background: linear-gradient(
      to left,
      #33ff008a 0%,
      #00ff2a 33%,
      #2bffdc00 100%
    );
    box-shadow: 1px 2px 0 #008000;

    @keyframes poison-inject {
      50% {
        transform: rotateY(20deg) translateX(-20px) scaleX(1);
      }
      75% {
        opacity: 0;
      }
      100% {
        transform: rotateX(-20deg) rotateY(20deg) translateX(-20px) scaleX(1);
      }
    }
  }

  .special-effect-3 {
    position: relative;
    top: 50px;
    transform: scaleX(2) scaleY(0.89);
    animation: gaze 750ms infinite linear;
    width: 40px;
    height: 3px;
    background: linear-gradient(
      to left,
      rgb(0, 195, 255) 0%,
      rgb(0, 132, 255) 33%,
      rgba(255, 118, 43, 0) 100%
    );
    box-shadow: 1px 2px 0 lightblue;

    @keyframes gaze {
      50% {
        transform: translateX(-10px) scaleX(1);
      }
      75% {
        opacity: 0;
      }
      100% {
        transform: translateX(-10px) scaleX(1);
      }
    }
  }

  .special-effect-4 {
    position: relative;
    top: 40px;
    left: 150px;
    transform: rotateX(-20deg) rotateY(20deg) translateX(-150px) scaleX(2)
      scaleY(0.89);
    animation: fireball 400ms infinite linear;
    width: 30px;
    height: 5px;
    background: linear-gradient(
      to left,
      rgb(255, 0, 0) 0%,
      rgb(255, 200, 0) 33%,
      rgba(255, 118, 43, 0) 100%
    );
    box-shadow: 1px 2px 0 red;

    @keyframes fireball {
      50% {
        transform: rotateX(-20deg) rotateY(20deg) translateX(-20px) scaleX(1);
      }
      75% {
        opacity: 0;
      }
      100% {
        transform: rotateX(-20deg) rotateY(20deg) translateX(-20px) scaleX(1);
      }
    }
  }
}
