.text-shadow {
  text-shadow: 3px 3px 3px #000000;
}

.special-effect-1 {
  position: relative;
  top: 50px;
  width: 30px;
  height: 5px;
  transform: rotateX(-20deg) rotateY(20deg) translateX(100px) scaleX(2)
    scaleY(0.89);
  animation: soul-harvest 750ms infinite linear;
  background: linear-gradient(to left, #b700ff 0%, #ff0000 33%, #ff5900 100%);
  box-shadow: 1px 2px 0 #2b221e;

  @keyframes soul-harvest {
    50% {
      transform: rotateX(-20deg) rotateY(20deg) translateX(-20px) scaleX(1);
    }
    75% {
      opacity: 0;
    }
    100% {
      transform: rotateX(-20deg) rotateY(20deg) translateX(-20px) scaleX(1);
    }
  }
}

.special-effect-2 {
  position: relative;
  top: 50px;
  left: 150px;
  transform: rotateY(20deg) translateX(-200px) scaleX(2) scaleY(0.89);
  animation: injectPoison 400ms infinite linear;
  width: 30px;
  height: 5px;
  background: linear-gradient(
    to left,
    #33ff008a 0%,
    #00ff2a 33%,
    #2bffdc00 100%
  );
  box-shadow: 1px 2px 0 #008000;

  @keyframes injectPoison {
    50% {
      transform: rotateY(20deg) translateX(-20px) scaleX(1);
    }
    75% {
      opacity: 0;
    }
    100% {
      transform: rotateX(-20deg) rotateY(20deg) translateX(-20px) scaleX(1);
    }
  }
}
